div.sub-shop{
    text-align: center;
}
div.pro-duct-cart-only h4{
    color:black;
    font-weight: bold;

}
div.product-sub-total{
    font-size: 15px;
    padding-bottom:10px
}
.check-out-btn{
    padding-top: 13px;
    padding-bottom: 30px;
}
 .windows .fundreimbursed{
    padding-top: 9px;
    padding-bottom: 6px;
    font-size: 18px;
}
.fundreimbursed{
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 18px;
}
.windows .product-btn-default-cart-new {
    padding-top: 9px;
    padding-bottom: 5px;
    font-family: "aktivExt";
}
.product-btn-default-cart-new {
    display: inline-block;
    font-weight: 400;
    width: 100%;
    line-height: 1.5;
    font-family: "aktivExt";
    color: black;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: orange;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid transparent;
    padding: 10.375rem -4.25rem;
    font-size: 15px;
    padding-top: 6px;
    border-radius: 4px;
    /* border-radius: 0.25rem; */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    /* padding-right: 4rem!important;
    padding-left: 4rem!important; */
}
.windows .product-btn-default-cart {
    padding-top: 9px;
    padding-bottom: 5px;
    font-family: "aktivExt";
}
.product-btn-default-cart {
    display: inline-block;
    font-weight: 400;
    width: 92%;
    line-height: 1.5;
    color: black;
    font-family: "aktivExt";
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: orange;
    padding-top:8px!important;
    border: 1px solid transparent;
    padding: 10.375rem -4.25rem;
    font-size: 15px;
    padding-top: 8px;
    /* border-radius: 0.25rem; */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding-right: 4rem!important;
    padding-left: 4rem!important;
}
.windows .product-btn-single-cart{
    padding-top: 6px;
    padding-bottom: 4px;
}
.product-btn-single-cart{
    color: orange;
    border-radius: 29px;
    border-color: orange;
    background-color: white;
    padding-left: 10px;
    padding-right: 9px;
    padding-top: -3px;
    padding-bottom: -7px;
    font-size: 13px;
    letter-spacing: 1px;
    border: 1px solid;
    color: orange;
    font-size: 14px;
    padding-left: 18px;
    padding-right: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
}

div.review-all-leave-cart {
    
    padding-top: 114px;
}
.review-leave-cart {
    font-size: 27px;
    font-weight: bold;
    /* padding-top: 8px; */
    padding-bottom: 10px;
    /* padding-left: 102px; */
    font-family: "aktivExt";
}
.help-diff-cart {
    background-color: orange;
    height: auto;
    padding-top: 26px;
    margin-top: 21px;
    padding-bottom: 50px;
}
div.header-cart h2{
    margin-top:30px;
    margin-bottom:49px
}
div.btn-our-cart{
text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.product-btn-story-cart {
    color: orange;
    border-radius: 29px;
    border-color: orange;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 10px;
    letter-spacing: 3px;
    border: 1px solid;
}
div.product-kgreat{
    font-size:14px
}
.product-price-pay-cart-ship {
    font-size: 15px;
    padding-top: 70px;
}
.product-price-pay-cart-contact {
    font-size: 14px;
    padding-top: 68px;
}
.product-price-pay-cart-guest-cart {
    font-size: 15px;
    padding-top: 54px;
}
#continue-mobile{
    display: none;
}
#continue-descktop{
    display: block;
}
@media only screen and (max-width:1400px ) {
div.product-kgreat h6{
font-size:13px!important
}
.product-price-pay-cart-ship_payment_page {
    font-size: 14px!important;
    padding-top: 29px!important;
}
.product-price-pay-cart-guest-cart {
    font-size: 14px;
    padding-top: 36px!important;
}
.product-price-pay-cart-contact {
    font-size: 14px;
    padding-top: 55px!important;
}
.product-price-pay-cart-guest {
    font-size: 14px;
    padding-top: 24px!important;
}
.opt-three-pay-cart-remove-guest {
    font-size: 15px;
    padding-top: 44px!important;
    padding-right: 7px;
}
.product-price-pay-cart {
    font-size: 14px;
    padding-top: 52px!important;
}
h6.productu {
    font-size: 14px;
    padding-top: 5px;
}
.opt-three-pay-cart {
    font-size: 13px!important;
    padding-top: 98px!important;
    padding-right: 7px;
}
.product-price-pay-cart-ship {
    font-size: 14px!important;
    padding-top: 50px!important;
}
h3.product-great {
    font-size: 15px;
    font-family: "aktivExt";
}
.opt-three-pay-cart-new {
    font-size: 15px;
    padding-top: 74px!important;
    padding-right: 7px;
}
}
@media only screen and (max-width:1010px ) {
    div.product-kgreat h6{
    font-size:11px!important;
    margin-bottom: 0px;
    }
    .opt-three-pay-cart-new {
        font-size: 14px;
        padding-top: 54px!important;
        padding-right: 7px;
    }
    .product-btn-default-cart-new {
       
        font-size: 13px;
        letter-spacing: 0px;}
    div.product-sub-total {
        font-size: 12px;
        padding-bottom: 10px;
    }
    .product-btn-single {
       
        font-size: 13px!important;
    }
    .opt-three-pay-cart {
        font-size: 13px!important;
        padding-top: 50px!important;
        padding-right: 7px;
    }
    .product-price-pay-cart {
        font-size: 12px!important;
        padding-top: 20px!important;
    }
    h3.product-great {
        font-size: 13px;}
    }
.subtotal-cart-amount{
    width: 50%;
    text-align: right;
 
}
.subtotal-cart{
    width: 59%;
    text-align: left;
    margin-left: 70px;

}
h4.pro-duct-your-cart {
    padding-left: 0px;
    color: orange;
    font-size: 33px;
    font-weight: bold;
    padding-top: 43px;
    padding-bottom: 25px;
}
.cart-hr-line hr{
    width: 100%;
    height:1px;
    color:grey
}
.cont-act-cart.col-sm-10 {
    padding-left: 12px;
    /* padding-bottom: 45px; */

}
.alert {
    position: initial;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.sub-shop-cart-emp{
    padding-top: 11px;
    padding-left: 0px;

}

.cart-hr-line2 hr {
    width: 92%;
    height: 1px;
    color: grey;
    margin-top: 16px;
    margin-left: 65px;
}
.leave-one.col-sm-5{
    width: 23%;
    background-color: #8080802e;
    height: 309px;
    margin-left: 10px;

}
.arrow-cart-one{
    padding-top: 5px;
    height: 106%;
}
div.part-2-cart {
    width: 85%;
    height: 106%;

}
.opt-three{
    font-size: 15px;
    font-weight: bold;
}
.arrowprogressbarr{
    font-size: 12px;
    padding: 3px 7px;

}
.prog-bar {
    padding-top:36px;
    padding-left: 13px;
    color: #757575;
    font-size: 15px;
    display:flex
}
.prog-bar a{
    color:#757575
}


  /* div.prog-bar a:hover {color: orange}
a.clr-dot-activ a:visited{color: orange} */
.product-btn-single-carts {
    color: orange;
    border-radius: 29px;
    border-color: orange;
    background-color: white;
    padding-left: 7px;
    padding-right: 4px;
    padding-top: 4px!important;
    padding-bottom: -7px;
    font-size: 11px;
    letter-spacing: 1px;
    border: 1px solid;
}
button.sort-arrow-cart {
   
    width: 71%;
    padding: 0.375rem 0.75rem;
    font-size: 11px;
    font-weight: 400;
    line-height: 1rem;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid#cdd4dc;
    appearance: none;
  
}
.cart-two.col-sm-5 {
    width: 23%;
   
    height: 309px;
    margin-left: 10px;
}
.part-cart-pro{
    height: 146%;
    margin-right: 9px;
    background-color: #8080802e;
    /* width: 117%; */
    margin-left: 22px;

}
div.part-cart {
    position: relative;
    height: 300px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 90%;
    background-color:  #8080802e;
}
.ft-image{
    font-size: 30px!important;
}
.leave-one-cart.col-sm-3 {
    width: 19%;
    margin-left: 10px;
    background-color:  #8080802e;
}
.pro-part-cartt {
    padding-left: 69px;
}
.part-cart-pro-duct {
    height: 146%;
    /* margin-right: 9px; */
    background-color: #8080802e;
    /* width: 117%; */
    /* margin-left: 22px; */
}
@media only screen and (max-width:557px ) {
.pro-part-cartt {
    padding-left: 0px;
}
#continue-mobile{
    display: block;
}
#continue-descktop{
    display: none;
}
.product-price-pay-cart-ship {
    font-size: 12px!important;
    padding-top: 39px!important;
}
.product-price-pay-cart-contact {
    font-size: 12px!important;
    padding-top: 34px!important;
}
.product-btn-default-cart {
    
    padding-right: 4rem!important;
    padding-left: 3rem!important;
    letter-spacing: 0px;
}
.subtotal-cart-amount{
    width: 50%;
    text-align: right;
    /* position: fixed; */
    /* margin-left: 172px; */
    background-color: white;

}
.product-btn-default-cart {
    display: inline-block;
    font-weight: 400;
    width: 100%;}
.edit-subscription-amount-detail{
    padding-top:20px
}
.subtotal-cart{
    width: 15%;
    background-color: white;

    /* position: fixed; */
    text-align: left;
    margin-left: 0px;
margin-right: 200px;
}
.cart-hr-line2 hr {
    width: 92%;
    height: 1px;
    color: grey;
    margin-top: 15px;
    margin-left: 4px;
}
.contact-call{
    padding-left: 20px;
}

.textarea{
    width:92% ;
}
.review-leave-cart {
    font-size: 22px;
    font-weight: bold;
    padding-top: -29px;
    padding-left: 12px;
    margin-top: -67px;
}
.cont-act-cart.col-sm-10 {
    padding-left: 0px!important;
    padding-bottom: 45px;
}
div.more-way{
    padding-left: 12px;
}
.prog-bar {
    padding-top: 10px;
    padding-left: 1px;
    font-size: 14px;
}
h4.pro-duct-your-cart {
    padding-left: 0px;
    
    font-size: 30px;
   
    padding-top: 40px;
    padding-bottom: 0px;
}
}
@media only screen and (max-width:556px ){
    span.close-icon {
      content: 'x';
      margin-right: 86px;
      cursor: pointer;
      position: static;}
      .ft-image {
        font-size: 25px!important;
    }
    .fts-image{
        font-size: 25px!important;
    }
    .android .product-btn-default-cart-new {
        padding-top: 8px;
        padding-bottom: 5px;
        font-family: "aktivExt";
    }
    .product-price-pay-cart-guest-cart {
        font-size: 12px!important;
        padding-top: 21px!important;
    }
    }

    @media only screen and (max-width:770px ){
    .product-btn-default-cart {
        
        letter-spacing: 0px;
        
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
    .fundreimbursed {
        font-size: 18px;
        padding-bottom: 6px;
        padding-top: 6px;
    }
}

@media only screen and (max-width:765px ) {

    .cart-hr-line2{

        display:none;

    }

    div.pro-duct-cart-only h4 {

       

        padding-top: 30px;

    }

    .pro-part-cartt {

        padding-left: 0px;

    }

}



@media only screen and (max-width:993px ) {

.product-btn-default-cart {

    display: inline-block;

   text-align: center;

    letter-spacing: 1px;

    font-size: 13px;

   

}

}



/* font change */

.cart-font{
    font-family: "aktiv";
}

div.product-sub-total {
    font-size: 14px!important;
    padding-bottom: 10px;
}

h4.pro-duct-your-cart{
    font-family: "aktivExt";
}
div.prog-bar{
    font-family: "aktiv";
}
h3.product-great{
    font-family: "aktivExt";
}
.product-kgreat h6{
    font-family: "aktiv"; 
    font-size: 14px!important;
    color: #757575;

}
h4{
    font-family: "aktivExt";
}
h2{
    font-family: "aktivExt";
}
.all-product{
    font-family: "aktiv"; 
}

.review-leave-ship-pay-ord{
    font-family: "aktivExt";
    font-size: 18px;
}
.detail-ship{
    font-size: 16px;
}
.sales-amt-shipping{
    font-size: 15px;
}
.head-order-cnfm{
    font-family: "aktivExt" 
}