.arrow-cart-one-ship {
    padding-top: 5px;
    height: 14%;
    width: 37%;
}
div.part-3-cart-ship {
    width: 53%;
    height: 70%;
    padding-left: 0px;
}
div.ship-rate{
    height: 34%;
}
.shipping-shopping{
    display: block!important;
}
div.type-method{
    font-size: 14px;
}
input.radio-btn{
    margin-inline: 26px;
}
div.boundry-wall{    padding-left: 40px;
    padding-right: 21px;
    border: 1px solid#cdd4dc;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    /* margin-right: 59px; */

}
div.ship-method{
    font-size: 16px;
    margin-top: 14px;
    margin-left: -23px;
    margin-bottom: 14px;
}
div.backtocart{
    padding-top: 25px;
    padding-bottom: 25px;
    color: orange;
    font-size: 15px;


}
.shippingonpayment{
    border: 1px solid #75757575;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.dontship{
    font-size: 14px;
}
.extradetail{
    display: flex;
}
.extradetails{
    font-size: 15px;
    margin-top: 3px;
    padding-left: 10px
}
.shippingdetails-contactinfo{
    border: 1px solid #75757575;
    border-radius: 5px;
    font-size: 15px;
    
    color: #757575;

}
.shippingdetails-addressinfo{
    border: 1px solid #75757575;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 20px;
}
div.part-cart {
    position: relative;
    padding-left: -64px;
    height: 148px;
    /* max-height: 290px; */
    /* margin-bottom: 20px; */
    overflow: hidden;
    width: 65%;
    /* margin-left: 54px; */
    background-color: #8080802e;
}
.shippingdetailsnew{
    margin-right: 30px;
    margin-left: 12px;

}
.opt-three-pay-cart-new {
    font-size: 15px;
    padding-top: 91px;
    padding-right: 7px;
}
.opt-three-pay-cart {
    font-size: 15px;
    padding-top: 100px;
    padding-right: 7px;
}
.product-price-pay-cart-ship_payment_page {
    font-size: 15px;
    padding-top: 40px;
}
h3.product-price-pay-cart-shipping_page {
    padding-top: 18px;
    font-size: 15px;
}
.product-btn-story-cart-ship-pay-new {
    color: orange;
    border-radius: 29px;
    border-color: orange;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    letter-spacing: 3px;
    border: 1px solid;
}
.part-1-cart-ship-pay{
    width: 185px;

}
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  div.join-now input{
    /* width: 20px; */
    /* background-color: orange; */
    /* height: 17px; */
    border: 1px solid#cdd4dc;
;

  }
   
  .box {
    position: relative;
    width: 29%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #f9fafb;
    
  }
   
  .product-price-pay-cart {
    font-size: 15px;
    padding-top: 59px;
}

.product-price-pay{
    font-size: 15px;
    padding-top:0px;
}
.review-leave-ship-pay {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 13px;
    padding-top: 8px;
}
div.col-cvv{
    margin-left: 0px;
}
.form-check {
    display: block;
    margin-bottom: 0.125rem;
    padding-left: 1.5em;
}
h6.product{
    font-size: 14px;
padding-top: 34px;
}
h6.productu{
    font-size: 14px;
padding-top: 17px;
}

button.sort-arrow-cart-ship {
    /* display: block; */
    width: 228%;
    padding: 0.375rem 0.75rem;
    font-size: 11px;
    font-weight: 400;
    line-height: 1rem;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #D9D9D9;
    appearance: none;
    /* border-radius: 0.25rem; */
    /* margin-inline: 10px; */
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}
div.part-2-cart-ship {
    width: 53%;
    height: 18%;
    padding-left: 0px;

}
.app-image{
    height: 36px;
    width: 12%;
    border-radius: 5px;

}
div.cart-two-ship{
    padding-left: 97px;
}
.form-check-input[type=radio] {
    border-radius: 50%;
    margin-top: 2px;
}
.product-btn-story-cart-ship {
    background-color: #fff;
    border: 1px solid;
    border-radius: 29px;
    color: orange;
    font-size: 14px;
    letter-spacing: 3px;
    padding: 6px 8px 1px 11px;
}
.inline-buttons-ship{
    padding-bottom: 12px;
    margin-left: 0px;
    margin-top: 1px;


}
.shippingnewinfo{
    padding: 10px 20px 8px;
}
.userloginguest{
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 8px;

}
#ship-ing1{
    display:block!important;
}
#ship-ing2{
    display:none!important;
}
#con-tinue{
    display:none!important;
}
.form-control-ship {
    display: block;
    width: 92%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid#cdd4dc;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-ship-new{
    display: block;
    width: 92%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid#cdd4dc;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.review-leave-ship {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 13px;
    padding-top: 8px;
    padding-left: -18px;
    margin-left: 0px;
}

.productk{
    padding-top: 28px;
}
@media only screen and (max-width: 367px){
.product-btn-story-cart-ship-pay-new {
    padding-left: 17%;
    padding-right: 16%;
}
}

@media only screen and (max-width: 730px){
.app-image {
    height: 36px;
    width: 23%;
    border-radius: 5px;
}
/* div.order-detail-1{
    margin-bottom: -100px;
}
div.order-detail-1{
    height:52%;
} */
}

@media only screen and (max-width: 790px){
button.sort-arrow-cart-ship {
    /* display: block; */
    width: 62px;
    /* padding: 0.375rem 0.75rem; */
    font-size: 11px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 1px;

}

.app-image {
    height: 32px;
    width: 18%;
    border-radius: 5px;
}
button.sort-arrow-cart-ship {
    /* display: block; */
    width: 62px;
    /* padding: 0.375rem 0.75rem; */
    font-size: 11px;
    border:1px solid #D9D9D9;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}
}
div.row.contact-pricing{
    font-size: 15px;
}
.opt-three-pay-cart-remove-g {
    font-size: 15px;
    padding-top: 100px;
    padding-right: 7px;
}
@media only screen and (max-width: 920px){
    div.product-kgreat h5{
        font-size: 16px;
        margin-top: 14px
    
    }
    h6.productu {
        font-size: 10px;
         padding-top: 0px;
    }
    h6.product{
        font-size: 12px;
    padding-top: 11px;
    }
    
    .opt-three-pay-cart-remove-g {
        font-size: 15px;
        padding-top: 36px!important;
        padding-right: 7px;
    }
    .product-price-pay-cart-guest {
        font-size: 15px;
        padding-top: 22px!important;
    }
    div.row.contact-pricing{
        font-size: 14px!important;
    }
    .productk {
        padding-top: 9px!important;
    }
    .sales-amt-shipping {
        font-size: 13px!important;
        padding-top: 5px;
        margin-left: -1px;
    }
    .payment-card-design {
        margin-right: 29px!important;}
    h3.product-great {
        font-size: 13px;}

        .save-payment-info {
            border: 1px solid #7575;
            margin-right: 29px!important;
            border-radius: 5px;
           
         
        }
    }


    
    
    

.react-datalist-input__textbox {

    border: var(--border);

    border-radius: var(--border-radius);
font-size: 0.9rem;
    width: 99%;
padding-left: 12px;
    padding-top: 6px;

    padding-bottom: 6px;

}
.shippingupdates{
    font-size: 14px;
    padding-top: 15px;
    color: #757575;
    

}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
 }

 .sales-amt-shipping {

    font-size: 15px;
    padding-top:
5px

;
    margin-left:
-1px

;
}

.payment-card-design {
    margin-right: 59px;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 23px 5px 23px 5px;
    font-size: 15px;
}

 

.save-payment-info {
    border: 1px solid #7575;
    margin-right: 59px;
    border-radius: 5px;
    padding: left;
    padding-left: 24px;
    padding-top: 6px;
    font-size: 14px;
}
button.add-payment-button-new {
    width: 92%;
    font-size: 15px;
    letter-spacing: 1px;
    border: 1px solid black;
    height: 34px;
    background-color: white;
}


 

.review-leave-ship-pay {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 13px;
    padding-top: 0px;
    padding-left: -18px;
    padding-left: 13px;
}
.product-btn-default-cnfm-CON {
    display: inline-block;
    font-weight: 400;
    width: 101%;
    line-height: 1.5;
    color: black;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: orange;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 17px;
    /* border-radius: 0.25rem; */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding-right: 0rem!important;
    padding-left: 0rem!important;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 0.2rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: none;
}

@media only screen and (max-width: 610px){
.payment-card-design {
    margin-right: 0px!important;
    padding: 6px 5px 6px 0px;
}
.product-price-pay-cart-guest {
    font-size: 13px!important;
    padding-top: 22px!important;
}
.productk{
    padding-top: 10px;
    font-size: 13px!important;
}
h6.productu{
    font-size: 11px;
    padding-top: 10px;

}
.opt-three-pay-cart-remove-guest {
    font-size: 15px;
    padding-top: 34px!important;
    padding-right: 7px;
}
}
 

@media only screen and (max-width: 690px){
.review-leave-ship-pay {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 13px;
    padding-top: 0px;
    padding-left: 0px;
    /* padding-left: 13px; */
}}
.product-price-pay-cart-guest {
    font-size: 15px;
    padding-top: 28px;
}
.opt-three-pay-cart-remove-guest {
    font-size: 15px;
    padding-top: 62px;
    padding-right: 7px;
}
@media only screen and (max-width: 557px){
.review-leave-ship-pay {
    padding-left: 0px!important;
}
button.add-payment-button-new {
    width: 100%;
}
.product-price-pay {
    font-size: 11px;}}

 

@media only screen and (max-width: 610px){
.save-payment-info {
    border: 1px solid #7575;
    margin-right: 0px!important;
    font-size: 14px;
    padding-right: 8px;
    padding-top: 6px;
    padding-left: 18px;
}}


@media only screen and (max-width:557px ) {
    .shippingdetailsnew {
        margin-right: 0px;
        margin-left: 0px;
    }
    h6.product{
        font-size: 14px;
    padding-top: 21px;
}
    
    .opt-three-pay-cart-new {
        font-size: 13px;
        padding-top: 29px!important;
        padding-right: 7px;
    }
    .sales-amt-shipping {
        font-size: 12px;
        padding-top: 5px;
        margin-left: -1px;
    }
    svg.svg-inline--fa.fa-angle-right{
        font-size: 12px!important;
    }
    svg.svg-inline--fa.fa-angle-left{
        font-size: 10px!important;
    }
    .shipping-shopping{
        display: none!important;
    }
    h3.product-price-pay-cart-shipping_page {
        padding-top: 18px;
        font-size: 12px!important;
    }
   
.product-price-pay-cart-ship_payment_page {
    font-size: 12px!important;
    padding-top: 29px!important;
}
    .app-image {
        height: 36px;
        width: 94px;
        border-radius: 5px;
    }
    h3.product-great {
        font-size: 19px;
        
    }
    .opt-three-pay-cart{
       
        font-size: 13px;
        padding-top: 61px!important;
        padding-right: 5px;
    
    }
    .opt-three-pay-cart-remove-g{
       
        font-size: 15px;
        padding-top: 54px!important;
        padding-right: 5px;
    
    }
    div.product-kgreat h5{
        font-size: 15px!important;
        margin-top: 14px
    
    }
    /* div.order-detail-11{
        height:50%;
    } */
    div.col-country{
        width: 106%;
    }
    .gotocontact{
        padding-top: 14px;
    }
    .form-check {
        display: block;
        /* min-height: 1.5rem; */
        padding-left: 1.5em;
        margin-bottom: 0.125rem;
    }
    .cont-act-cart.col-sm-10 {
        padding-left: 12px;
        padding-bottom: 4px;
    }
    div.join-now{
        font-size: 14px;
    }
    .box {
        position: relative;
        width: 97%;
        margin: 0 auto;
        height: auto;
        max-height: 88vh;
        margin-top: calc(108vh - 85vh - 20px);
    }
    button.sort-arrow-cart-ship {
        -webkit-appearance: none;
        appearance: none;
        background-clip: padding-box;
        background-color: #fff;
        border: 1px solid grey;
        color: #212529;
        font-size: 10px;
        font-weight: 400;
        /* line-height: 1rem; */
        /* padding: 0.375rem 0.75rem; */
        width: 81px;
        padding: 1px -1px;
    }
    .review-leave-ship-pay-ord {
        font-size: 22px;
        font-weight: bold;
       
        padding-top: 10px;
        padding-left: 0px!important;
        margin-left: 17px;
    }
    div.boundry-wall {
        padding-left: 38px;
    }
    
    .order-detail-1 {
        padding-left: 0px!important     ;
    }
    #ship-ing2{
        display:block!important;
    }
    #ship-ing1{
        display:none!important;
    }
    div.part-cart-pay {
        
        height: 118px;
        
        width: 207%;
        /* margin-left: 54px; */
        /* background-color: #8080802e; */
    }
    #con-tinue{
        display:block!important;
    }
    .product-price-pay-cart {
        font-size: 11px!important;
        padding-top: 5px!important
    }
    .cart-button-edit{
        font-size: 10px;
        padding-left: 2px;
        /* padding-right: 13px; */
        padding-top: 5px;
    
    }
    .gotocontact{
        padding: top;
        padding-top: 11px;
        margin-left: 17px;
    
    }
    .btn-group-lg>.btn, .btn-lg {
        /* padding: 0.5rem 1rem; */
        font-size: rem;
        width: 106%;
        border-radius: 0.3rem;
    }
    div.product-kgreat h6 {
        font-size: 11px!important;
        margin-bottom: 3px;
    }
        
        h3.product-great {
            font-size: 13px!important;
            padding-top: 5px;
        margin-bottom: 0px;}
            .review-leave-ship-pay-ord {
                font-size: 24px;
                font-weight: bold;
                /* padding-bottom: 13px; */
                /* padding-top: 20px!important; */
                padding-left: -18px;
                margin-left: 0px!important;
            }
            .form-control-ship-exp-cnfm {
                display: block;
                 width: 81%; 
            }
            .sub-total-cnfm {
                padding-left: 0px;
            }
            .product-btn-story-cart-ship-pay-new {
                padding-left: 23%;
                padding-right: 23%;
            }
    }